*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 0.8rem;
    background-color: rgb(28, 28, 28);
    color: white;

}
.form_body{
    width: 40%;
    border-radius: 5px;
    margin: 2rem  auto;
    padding: 1rem;

}
.table_body{
    min-width: 50%;
    max-width: 80%;
    margin: 2rem auto;
    border-radius: 5px;
}
